img{
    display: block;
    margin: auto;
    width: 300px;
}
#image{
    max-width: 100%;
    height: auto;
}
h1, p, h2, h3{
    text-align: center;
}
div{
    text-align: center;
    
}

.img-container{
    text-align: center;
    margin-top: 20px;
}